<div class="container">
  <div id="frame">
    <h2>
    <% if defined?(@title) %>
      <%= @title %><br>
    <% end%>
    <%= @author %><br>
    <%= @country %>
    </h2>
    <h4>
    find something new to read:<br>
    <a href="/">refresh for another suggestion</a>
    </h4>
  </div>

  <div id="frame">
      <p>
        Intrepid readers! I made this for you and me while reading <a href="http://http://shop.nplusonemag.com/collections/books-n-1/products/mfa-vs-nyc"><i>MFA vs NYC: The Two Cultures of American Fiction</i></a>. Perhaps it can serve as a slight corrective to the myopia of American literary fiction, a gentle reminder to read more broadly.
      In any case, all this was made possible by <a href="mailto: ann@annmorgan.me">Ann Morgan</a>. The books here were <a href="http://ayearofreadingtheworld.com/thelist/">collected by Ann</a> for her project <a href="http://ayearofreadingtheworld.com/">"A year of reading the world."</a> I've removed the American titles and authors.
      </p>

      <p>
        For machines and humans fond of machine-readable data, <a href="/book-list.csv">here's the list</a> as a CSV file.
      </p>
      <p>xoxo <a href="http://twitter.com/kari_mah">Kari Mah</a></p>
  </div>
</div>