<div id="frame">
  <h2><%= @title %></h2>
  <h2>by <%= @author %></h2>
  <h2><%= @country %></h2>
  <h4>
    Find something new to read! <br>
    <form>
      <input type="button" onClick="history.go(0)" value="Refresh for another suggestion">
    </form>
  </h4>
</div>

<div id="footer">
<hr>
  <p>
    Intrepid readers! I made site while reading <a href="http://http://shop.nplusonemag.com/collections/books-n-1/products/mfa-vs-nyc"><i>MFA vs NYC: The Two Cultures of American Fiction</i></a>. Perhaps it can serve as a slight corrective to the myopia of American literary fiction, a gentle reminder to read more broadly.
  In any case, all this was made possible by <a href="mailto: ann@annmorgan.me">Ann Morgan</a>. The books here were <a href="http://ayearofreadingtheworld.com/thelist/">collected by Ann</a> for her project <a href="http://ayearofreadingtheworld.com/">"A year of reading the world."</a>
  </p>

  <p>xoxo <a href="http://twitter.com/kari_mah">kari mah</a></p>
</div>
</div>